<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net{{ dotnet_version }}</TargetFramework>
    <Nullable>enable</Nullable>
    <RootNamespace>CsfleDemo.Shared</RootNamespace>
    <AssemblyName>CsfleDemo.Shared</AssemblyName>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="DotNetEnv" Version="{{ dotnetenv_version }}" />
  </ItemGroup>

</Project>
