# Kafka Configuration (Local Confluent Platform)
KAFKA_TOPIC=csfle-demo
KAFKA_BOOTSTRAP_SERVERS=<localhost:9091,localhost:9092,localhost:9093>

# Schema Registry Configuration (Local Confluent Platform)
SCHEMA_REGISTRY_URL=http://localhost:8081

# AWS KMS Configuration (for field-level encryption)
AWS_KMS_KEY_NAME=csfle-demo-kek
AWS_KMS_TYPE=aws-kms
AWS_KMS_KEY_ID=<AWS KMS Key ARN>

# AWS Credentials
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>

# Consumer Configuration
KAFKA_GROUP_ID=csfle-demo-consumer-group
KAFKA_AUTO_OFFSET_RESET=earliest
