{% import "dotnet/partials/kms_" + kms + ".j2" as kms_p with context %}
{% import "dotnet/partials/target_" + target + ".j2" as target_p with context %}
KAFKA_TOPIC={{ topic }}

{{ target_p.env_vars() }}

{{ kms_p.env_vars() }}

# Consumer Configuration
KAFKA_GROUP_ID={{ group_id }}
KAFKA_AUTO_OFFSET_RESET={{ auto_offset_reset }}
