absl-py==2.3.1
anyio==4.12.0
attrs==25.4.0
Authlib==1.6.6
azure-core==1.37.0
azure-identity==1.25.1
azure-keyvault==4.2.0
azure-keyvault-certificates==4.10.0
azure-keyvault-keys==4.11.0
azure-keyvault-secrets==4.10.0
bazel_runfiles==1.7.0
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
confluent-kafka==2.12.2
cryptography==46.0.3
exceptiongroup==1.3.1
fastavro==1.12.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
isodate==0.7.2
msal==1.34.0
msal-extensions==1.3.1
protobuf==6.33.2
pycparser==2.23
PyJWT==2.10.1
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
tink==1.13.0
typing_extensions==4.15.0
urllib3==2.6.2
