KAFKA_TOPIC=my-cloud-aws-js-client-0021

# Kafka Configuration (Confluent Cloud)
KAFKA_BOOTSTRAP_SERVERS=pkc-example.us-east-1.aws.confluent.cloud:9092
KAFKA_SASL_USERNAME=<FILL_ME>
KAFKA_SASL_PASSWORD=<FILL_ME>

# Schema Registry Configuration (Confluent Cloud)
SCHEMA_REGISTRY_URL=https://psrc-example.us-east-2.aws.confluent.cloud
SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO=<FILL_ME>

# AWS KMS Configuration (for field-level encryption)
AWS_KMS_KEY_NAME=my-cloud-aws-js-client-0021-kek
AWS_KMS_TYPE=aws-kms
AWS_KMS_KEY_ID=<FILL_ME>

# AWS Credentials
AWS_ACCESS_KEY_ID=<FILL_ME>
AWS_SECRET_ACCESS_KEY=<FILL_ME>

# Consumer Configuration
KAFKA_GROUP_ID=my-cloud-aws-js-client-0021-consumer-group
KAFKA_AUTO_OFFSET_RESET=earliest
